@import "~bpk-mixins";

.spinner {
  &__icon {
    @include bpk-spinner(spinner-gray-500);
    display: block;
    margin: auto;
    padding: $bpk-spacing-sm;
  }

  &__text {
    @include bpk-text-base;
    text-align: center;
    color: $bpk-color-gray-900;
    padding: $bpk-spacing-sm;
  }
}

.error {
  padding: $bpk-spacing-sm;
}

.results {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $bpk-color-gray-50;
}

.result {
  display: flex;
  flex-direction: column;
  margin: $bpk-spacing-sm $bpk-spacing-sm $bpk-spacing-xs;
  padding: $bpk-spacing-xs $bpk-spacing-sm 0;
  background-color: $bpk-color-white;
  @include bpk-box-shadow-lg;
  @include bpk-border-radius-sm;

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-info {
    padding: $bpk-spacing-xs 0 0;
  }

  &__price {
    @include bpk-text-xl;
    color: $bpk-color-gray-900;
  }

  &__agent {
    @include bpk-text-base;
    color: $bpk-color-gray-300;
    position: relative;
    top: -0.75rem;
  }

  &__select {
    @include bpk-button;
    margin: $bpk-spacing-xs 0 0;
    padding: $bpk-spacing-xs $bpk-spacing-lg;
    position: relative;
    top: .175rem;
    left: .175rem;
  }
}

.leg {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $bpk-spacing-sm;

  &:last-child {
    margin-bottom: 0;
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__additional-info {
    @include bpk-text-sm;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: $bpk-spacing-xs 0 0;
  }

  &__duration {
    display: flex;
    justify-content: flex-end;
    color: $bpk-color-gray-500;
  }

  &__stops {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: .375rem;
  }

  &--direct {
    color: $bpk-color-green-500;
  }

  &--with-stops {
    color: $bpk-color-red-500;
  }

  &__departure, &__arrival {
    @include bpk-text-base;
    display: flex;
    flex-direction: column;
    padding: 0 $bpk-spacing-sm;
  }

  &__time {
    color: $bpk-color-gray-900;
  }

  &__place {
    color: $bpk-color-gray-500;
  }

  &__arrow-container {
    padding: $bpk-spacing-sm $bpk-spacing-xs;
  }

  &__arrow {
    width: .875rem;
    height: .875rem;
  }

  &__airline {
    @include bpk-border-radius-xs;
    width: $bpk-icon-size-lg;
    height: $bpk-icon-size-lg;
    position: relative;
    top: -0.375rem;
  }
}
