@import "~bpk-mixins";

.top-nav {
  // REVIEW: should it be sticky?
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $bpk-spacing-sm $bpk-spacing-sm;

  background-color: $bpk-color-white;
  box-shadow: 0 0 10px 0 $bpk-color-gray-300;

  &__logo {
    vertical-align: middle;
  }

  &__logo-text {
    // REVIEW: Do I need to show it?
    @include bpk-visually-hidden;
  }

  &__burger-menu {
    vertical-align: middle;
    width: $bpk-icon-size-lg;
    height: $bpk-icon-size-lg;
    cursor: pointer;
  }
}
