@import "~bpk-mixins";

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: $bpk-spacing-sm;

  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;

  .places {
    @include bpk-heading-1();
    margin-bottom: 0px;
    text-transform: uppercase;

    .arrowContainer {
      padding: $bpk-spacing-sm;

      .arrow {
        width: $bpk-icon-size-sm;
        height: $bpk-icon-size-sm;
        position: relative;
        // XXX: magic digit
        top: -0.375rem;
      }
    }
  }

  .details {
    @include bpk-text-base();
    text-transform: lowercase;
  }
}
